# emacs .gitignore

elpa
lisp
recentf
var
.emacs.desktop
.mc-lists.el
ac-comphist.dat
projectile-bookmarks.eld
tutorial
url
eshell
auto-save-list
smex-items
abbrev_defs
emms
org-clock-save.el
places
*.cache
